.categories-container {
    text-align: start;
    padding: 50px;
}

.categories-container h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.categories-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.categories-list {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none; /* Hide scrollbar */
    -ms-overflow-style: none;
}

.categories-list::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome */
}

.category-item {
    flex: 0 0 auto;
    text-align: center;
    width: 140px;
}

.category-item a {
    text-decoration: none;
    color: inherit;
}

.category-item img {
    width: 150px; /* Same width and height */
    height: 150px;
    border-radius: 50%; /* Ensures circular shape */
    object-fit: cover;
    border: 3px solid #ddd;
    transition: transform 0.3s ease-in-out;
}


.category-item img:hover {
    transform: scale(1.1);
}

.category-item p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
}

.scroll-btn {
    background: white;
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-btn.left {
    left: 0;
}

.scroll-btn.right {
    right: 0;
}

.categories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories-header h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.view-all {
    padding: 8px 15px;
    font-size: 14px;
    color: white;
    background-color: #4caf50;
    border: none;   
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.view-all:hover {
    background-color: #388e3c;
}

